.navbar {
  width: 100%;
  background-color: black;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
    top: 0;
    z-index: 3;
}

.navbar input {
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #808080;
  width: 50%;
}
.navbar input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 2%;
  }
  .navbar input {
    width: 100%;
  }
}
